body{
    background-color: hsl(30, 38%, 92%);
}


.item {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
   
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.item-1 {
    padding-left: 3rem;
    background-color: hsl(0, 0%, 100%);
    padding-right: 2rem;
    border-bottom-right-radius:0.5rem ;
    border-top-right-radius: 0.5rem;
}

.item-2 {
    line-height: 0.7rem;
    font-size: 14px;
    font-size: 1rem;
color: hsl(228, 12%, 48%);
font-weight: 700;
}

.butt {
    border: 1px solid;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: hsl(158, 36%, 37%);
    border-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    display: flex;
    align-content: baseline;

}

img {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.perfume {
    word-spacing: 0.5rem;
    color: hsl(228, 12%, 48%);
    font-weight: 700;
    padding-top:1rem;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 0.9rem;
}

sup{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
}

.super{
    color:  hsl(158, 36%, 37%);
    font-size: xx-large;
}